{% extends "wsil/base.html" %}

{% load static %}
{% load jsonify %}
{% block title %}
    Course:  {{ object.slug | title }}
{% endblock %}
{% block head %}
    {{ block.super }}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
{% endblock %}
{% block container %}
    <div class="row">
        <div class="col-md-12">
            {% block navbar %}
                {{ block.super }}

            {% endblock %}
        </div>

    </div>
    <div class="container page img-rounded">
        <div class="row">
            <div class="col-md-4">
                <img style="max-width:200px;max-height: 200px" src="{{ object.photo_url }}" />
                <h3><a href="{{ object.url }}">{{ object.slug }}</a></h3></div>
               <div class="col-md-4">
                   {% if partners %}
                       <br><br>
                <h6>Partner{{ partners | pluralize }}</h6>
                {% if partners.count <= 1 %}
                    <img src="{{ object.logo }}">
                    <br><br>
                    <table class="table table-striped">
                        <tr>{% include 'wsil/detail-list.html' with key="Partner Name" value=partners.0.partner_name %}</tr>
                    </table>
                {% else %}
                    <img src="{{ object.logo }}">
                    {% for partner in partners %}
                    <table class="table table-striped">
                            <tr>{% include 'wsil/detail-list.html' with key="Partner Name" value=partner.partner_name %}</tr>
                    </table>
                    {% endfor %}
                {% endif %}
        {% endif %}
               </div>
         <div class="col-md-4">
             <br><br>
            <table class="table table-striped">
                <tr>{% include 'wsil/detail-list.html' with key="Course Type" value=object.course_type %}</tr>
                <tr>{% include 'wsil/detail-list.html' with key="Workload" value=object.workload %}</tr>
                <tr>{% include 'wsil/detail-list.html' with key="Source" value=object.source %}</tr>
            </table>

            </div>
        </div>
    <div class="row">

        <div class="col-md-2"></div>
            <div class="col-md-8 panel panel-primary">
             <div class="panel-body"><p style="font-weight: bold;text-align: justify">{{ object.description | striptags }}</p>
             </div>
            </div>
    <div class="col-md-2"></div>

    </div>
        </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
{% endblock %}