{% extends "wsil/base.html" %}

{% load render_bundle from webpack_loader %}
{% load static %}
{% load jsonify %}
{% block title %}
    {{ APP_NAME }}
{% endblock %}
{% block head %}
    {{ block.super }}
    <script>
        window.props = {{ props | jsonify }};
        window.props.django_url = {{ url }};
    </script>
{% endblock %}
{% block container %}
    <div class="row">
        <div class="col-md-12">
            {% block navbar %}
                {{ block.super }}

            {% endblock %}
        </div>
    </div>
    <div class="row">

        <div class="col-md-2">
            <div class="img-rounded page" >
                <ul class="top-lang-list">
                    <h3 style="color:black">Top10 LANGUAGE</h3>
                    {% for language in top10  %}
                        <h5>
                            <a href="{{ language.language | lower }}">
                                <li class="list-link"><span>{{ forloop.counter }} -</span> {{ language.language }}</li>
                            </a>
                        </h5>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-8">

            <div class="page">
                <div id="search-bar">

                </div>
                {% render_bundle 'main'%}
            </div>
        </div>

        <div class="col-md-2">

            <div class="page">
                <h1>INSERISCI Le cose dentro</h1>
                <h1>INSERISCI Le cose dentro</h1>
                <h1>INSERISCI Le cose dentro</h1>

            </div>

        </div>


    </div>



{% endblock %}

