{% extends "wsil/base.html" %}

{% load render_bundle from webpack_loader %}
{% load static %}
{% load jsonify %}
{% block title %}
    {{ APP_NAME }}
{% endblock %}
{% block head %}
    {{ block.super }}
    <script>
        window.props = {{ props | jsonify }};
    </script>
{% endblock %}
{% block container %}
   <div class="row">
		<div class="col-md-12">
    {% block navbar %}
        {{ block.super }}

        {% endblock %}
        </div>
   </div>
    <div class="row">

    		<div class="col-md-2">
            <div class="img-rounded"style="background-color: honeydew;opacity:0.2;text-align:center">
                <ul style="list-style-type: none">
        <h3 style="color:black">Top10 LANGUAGE</h3>
                {% for i in "xxxxxxxxxx" %}
                    <h5><li>{{ forloop.counter0 }}</li></h5>
                {% endfor %}
                </ul>
            </div>
            </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-7">

            <div class="img-rounded">
                  <div class="wrap">
        <div class="comp">
            <div class="monitor">
                <div class="mid">
                    <div class="site">
                        <div class="topbar">
                            <div class="cerrar">
                                <div class="circl"></div>
                                <div class="circl"></div>
                                <div class="circl"></div>
                            </div>
                        </div>
                        <div class="inhead">
                            <div class="mid">
                                <div class="item"></div>
                            </div>
                            <div class="mid txr">
                                <div class="item"></div>
                                <div class="item"></div>
                                <div class="item"></div>
                                <div class="item"></div>
                            </div>
                        </div>
                        <div class="inslid">

                        </div>
                        <div class="incont">
                            <div class="item"></div>
                            <div class="item"></div>
                            <div class="item"></div>
                            <div class="item"></div>
                            <div class="wid">
                                <div class="itwid">
                                    <div>
                                        <div class="contfoot"></div>
                                    </div>
                                </div>
                                <div class="itwid">
                                    <div>
                                        <div class="contfoot"></div>
                                    </div>
                                </div>
                                <div class="itwid">
                                    <div>
                                        <div class="contfoot"></div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="infoot">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="mid codigo">
                    <div class="line">
                        <div class="item var"></div>
                        <div class="item cont"></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="line">
                        <div class="item min var"></div>
                        <div class="item min fun"></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="line">
                        <div class="item min var"></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="line">
                        <div class="item var"></div>
                        <div class="item atr"></div>
                        <div class="item cont"></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="line tab1">
                        <div class="item min atr"></div>
                        <div class="item lrg fun"></div>
                        <div class="item min fun"></div>
                        <div class="item lrg cont"></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="line tab1">
                        <div class="item lrg atr"></div>
                        <div class="item min fun"></div>
                        <div class="item min cont"></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="line tab1">
                        <div class="item atr"></div>
                        <div class="item min fun"></div>
                        <div class="item atr"></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="line tab1">
                        <div class="item min atr"></div>
                        <div class="item min cont"></div>
                        <div class="item lrg atr"></div>
                        <div class="item  fun"></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="line tab1">
                        <div class="item min atr"></div>
                        <div class="item lrg fun"></div>
                        <div class="item lrg cont"></div>
                        <div class="item min fun"></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="line tab1">
                        <div class="item min var"></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="line tab1">
                        <div class="item min var"></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="line tab2">
                        <div class="item min var"></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="line tab2">
                        <div class="item min atr"></div>
                        <div class="item min fun"></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="line tab3">
                        <div class="item min atr"></div>
                        <div class="item min fun"></div>
                        <div class="item lrg fun"></div>
                        <div class="item lrg cont"></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="line tab3">
                        <div class="item min atr"></div>
                        <div class="item min fun"></div>
                        <div class="item lrg atr"></div>
                        <div class="item lrg cont"></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="line tab4">
                        <div class="item min fun"></div>
                        <div class="item lrg atr"></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="line tab1">
                        <div class="item atr"></div>
                        <div class="item var"></div>
                        <div class="item cont"></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="line tab3">
                        <div class="item min var"></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="line tab4">
                        <div class="item min atr"></div>
                        <div class="item min fun"></div>
                        <div class="item lrg atr"></div>
                        <div class="item lrg cont"></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="line">
                        <div class="item min var"></div>
                        <div class="clearfix"></div>
                    </div>

                </div>
            </div>
            <div class="base">

            </div>
        </div>
    </div>
                <div style="padding: 5%">
                                    <p style="color:white;text-align: center">PREMI QUI NON SO PERCHE'</p>

                </div>
            </div>
            <div class="col-md-12" style="text-align: center">
                  <div class="page-scroll">
			<a href="" class="btn btn-circle">
				<i class="fa fa-angle-double-down animated"></i>
			</a>
                  </div>
             </div>
        </div>
        </div>



{% endblock %}

