{% extends "wsil/base.html" %}

{% load render_bundle from webpack_loader %}
{% load static %}
{% load jsonify %}
{% block title %}
    {{ APP_NAME }}
{% endblock %}
{% block head %}
    {{ block.super }}
    <script>
        window.props = {{ props | jsonify }};
        window.props.django_url = {{ HTTP_HOST }};
    </script>
    <script src="{% static 'js/plotly-latest.min.js' %}"></script>
{% endblock %}
{% block container %}
    <div class="row">
        <div class="col-md-12">
            {% block navbar %}
                {{ block.super }}

            {% endblock %}
        </div>
    </div>
    <div class="row">

        <div class="col-md-2">
            <div class="img-rounded page" >
                <ul class="top-lang-list">
                    <h3 style="color:black">Top10 LANGUAGE</h3>
                    <br/>
                    {% for language in top10  %}
                        {% url 'detail_lang' language.id as url_value %}
                        {% include 'wsil/list-link.html' with url=url_value counter=forloop.counter name=language.name %}
                    {% endfor %}
                </ul>
                <br/>
            </div>
        </div>


        <div class="col-md-8">

            <div class="page">
                <h4>Repository count per language</h4>
                <div id="barPlot"></div>
            </div>
        </div>

        <div class="col-md-2">

            <div class="page">
                <div id="search-bar" class="search-box">

                </div>
                {% render_bundle 'main'%}
            </div>
        </div>


    </div>



{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/bar-plot-overall.js' %}">
    </script>
    <script>
        var url = "{% url 'top10charts' %}";
        console.log(url);
        plot(url);
    </script>
{% endblock %}