{% extends "wsil/base.html" %}

{% load render_bundle from webpack_loader %}
{% load static %}
{% load jsonify %}
{% block title %}
    {{ l_title }}
{% endblock %}
{% block head %}
    {{ block.super }}
    <script>
        window.props = {{ props | jsonify }};
        window.props.django_url = {{ HTTP_HOST }};
    </script>
    <script src="{% static 'js/plotly-latest.min.js' %}"></script>
{% endblock %}
{% block container %}
    <div class="row">
        <div class="col-md-12">
            {% block navbar %}
                {{ block.super }}

            {% endblock %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="img-rounded page" >
                <ul class="top-lang-list">
                    <h3 style="color:black">Top 10 {{ l_title }} frameworks</h3>
                    <br/>
                    {% if not top10fwl %}
                        <h4>No framework available</h4>
                    {% else %}
                        {% for fwl in top10fwl  %}
                            <h5>
                                <a href="http://{{ request.get_host }}/details/{{ fwl.name | lower }}">
                                    <li class="list-link"><span>{{ forloop.counter }} -</span> {{ fwl.name }}</li>
                                </a>
                            </h5>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>


        <div class="col-md-7 page">

                <div class="col-md-6">
                    <h4>Interest over time for {{ l_title | upper }}</h4>
                    <div id="interestTimeScatter"></div>
                </div>
                <div class="col-md-6">
                    {% include 'wsil/highlights-rows.html' with description="Question on it" value=question_count %}
                    {% include 'wsil/highlights-rows.html' with description="Jobs for it" value=jobs_count %}
                </div>
        </div>

        <div class="col-md-3">

            <div class="page">
                <h4>Jobs</h4>
                <br />
                {% if jobs_count == "0" %}
                    <h5>No jobs available for {{ l_title }}</h5>
                {% else %}
                    <h5>Found {{ jobs_count }} jobs:</h5>
                    {% for job in jobs %}
                        <div class="row">
                            <h6>{{ job.job_title }}</h6>
                            <div>
                            {{ job.description | truncatechars:150}}
                                <div class="row">
                                    <div class="col-sm-4">Date:</div>
                                    <div class="col-sm-8">{{ job.post_date }}</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">Company:</div>
                                    <div class="col-sm-8">{{ job.company_name }}</div>
                                </div>

                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>


    </div>



{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/plot-lang.js' %}">
    </script>
    <script>
        getPlot('{{ l_title }}', 'interestTimeScatter', 'scatter');
    </script>
{% endblock %}