{% extends "wsil/base.html" %}

{% load static %}
{% load jsonify %}
{% block title %}
    Job:  {{ object.job_title | title }}
{% endblock %}
{% block head %}
    {{ block.super }}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
{% endblock %}
{% block container %}
    <div class="row">
        <div class="col-md-12">
            {% block navbar %}
                {{ block.super }}

            {% endblock %}
        </div>

    </div>
    <div class="container page img-rounded">
    <br>
        <h2>{{ object.job_title }}</h2>
        <div class="row">
            <div class="col-md-12">
                <h4>by</h4>
                <h5><a href="{{ object.company_url }}">{{ object.company_name }}</a></h5><br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8"> <table class="table table-striped">
                <tr><a href="{{ object.company_url }}">{% include 'wsil/detail-list.html' with key="Company Name" value=object.company_name %}</a></tr>
                <tr>{% include 'wsil/detail-list.html' with key="Location" value=object.location_name %}</tr>
                <tr>{% include 'wsil/detail-list.html' with key="Date" value=object.post_date %}</tr>
                <tr>{% include 'wsil/detail-list.html' with key="Language" value=object.lang %}</tr>

            </table>
        <div/>
                <div class="col-md-2"></div>
        <div class="row">
            <p style="font-weight: bold;text-align: justify">
                {{ object.description | truncatechars:400 | striptags }}
            </p>
        </div>
        {% if partners %}
            <div class="row">
                <h6>Partner{{ partners | pluralize }}</h6>
                {% if partners.count <= 1 %}
                    <img src="{{ object.logo }}">
                    <ul class="list-group">
                        <li class="list-group-item">{% include 'wsil/detail-list.html' with key="Partner Name" value=partners.0.partner_name %}</li>
                    </ul>
                {% else %}
                    <img src="{{ object.logo }}">
                    {% for partner in partners %}
                        <ul class="list-group">
                            <li class="list-group-item">{% include 'wsil/detail-list.html' with key="Partner Name" value=partner.partner_name %}</li>
                        </ul>
                    {% endfor %}
                {% endif %}
            </div>
        {% endif %}
    </div>



{% endblock %}

{% block scripts %}
    {{ block.super }}
{% endblock %}