{% extends "wsil/base.html" %}

{% load render_bundle from webpack_loader %}
{% load static %}
{% load jsonify %}
{% block title %}
    {{ l_title }}
{% endblock %}
{% block head %}
    {{ block.super }}
    <script>
        window.props = {{ props | jsonify }};
        window.props.django_url = {{ HTTP_HOST }};
    </script>
    <script src="{% static 'js/plotly-latest.min.js' %}"></script>
{% endblock %}
{% block container %}
    <div class="row">
        <div class="col-md-12">
            {% block navbar %}
                {{ block.super }}

            {% endblock %}
        </div>
    </div>
    <div class="row">

        <div class="col-md-2">
            <div class="img-rounded page" >
                <ul class="top-lang-list">
                    <h3 style="color:black">Top 10 {{ l_title }} frameworks</h3>
                    <br/>
                    {% for language in top10  %}
                        <h5>
                            <a href="http://{{ request.get_host }}/details/{{ language.language | lower }}">
                                <li class="list-link"><span>{{ forloop.counter }} -</span> {{ language.language }}</li>
                            </a>
                        </h5>
                    {% endfor %}
                </ul>
            </div>
        </div>


        <div class="col-md-8">

            <div class="page">
                <h4>Repository count per language</h4>
                <div id="interestTimeScatter"></div>
            </div>
        </div>

        <div class="col-md-2">

            <div class="page">
                <h4>Jobs</h4>
            </div>
        </div>


    </div>



{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/plot-lang.js' %}">
    </script>
    <script>
        getPlot('{{ l_title }}', 'interestTimeScatter', 'scatter');
    </script>
{% endblock %}