{% extends "wsil/base.html" %}

{% load render_bundle from webpack_loader %}
{% load static %}
{% load jsonify %}
{% block title %}
    {{ l_title }}
{% endblock %}
{% block head %}
    {{ block.super }}
    <script src="{% static 'js/plotly-latest.min.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
{% endblock %}
{% block container %}
    <div class="row">
        <div class="col-md-12">
            {% block navbar %}
                {{ block.super }}

            {% endblock %}
        </div>
    </div>
    <div class="container">
        <ul class="nav nav-tabs">
            <li class="lang-tabbar active"><a data-toggle="tab" href="#home">Statistics</a></li>
            <li class=" lang-tabbar"><a data-toggle="tab" href="#menu1">Frameworks</a></li>
            <li class=" lang-tabbar"><a data-toggle="tab" href="#menu2">Jobs</a></li>
            <li class=" lang-tabbar"><a data-toggle="tab" href="#menu3">Courses</a></li>
        </ul>
        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <div class="col-md-12 page">
                    <div class="col-md-6">
                        <h4>Interest over time for {{ l_title | upper }}</h4>
                        <hr/>
                        <div id="interestTimeScatter"></div>
                        <h4>Interest by region for {{ l_title | upper }}</h4>
                        <div id="interestRegionLang"></div>
                    </div>
                    <div class="col-md-6">
                        {% include 'wsil/highlights-rows.html' with description="Question on it" value=question_count %}
                        {% include 'wsil/highlights-rows.html' with description="Jobs for it" value=jobs.count %}
                        {% include 'wsil/highlights-rows.html' with description="Course for it" value=courses.count %}
                    </div>
                </div>
            </div>
            <div id="menu1" class="tab-pane fade">
                <div class="col-md-12 page">
                    <ul class="top-lang-list">
                        <h3 style="color:black">List of {{ l_title }} frameworks</h3>
                        <br/>
                        {% if not fwls %}
                            <h4>No framework available</h4>
                        {% else %}
                            {% for fwl in fwls %}
                                {% url 'detail_fw' fwl.id as url_value %}
                                {% include 'wsil/list-link.html' with url=url_value counter=forloop.counter name=fwl.name description=fwl.description %}
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>

            <div id="menu2" class="tab-pane fade">
                <div class="col-md-12 page">
                    <h4>Jobs</h4>
                    <br />
                    {% if jobs.count == 0 %}
                        <h5>No jobs available for {{ l_title }}</h5>
                    {% else %}
                        <h5>Found {{ jobs.count }} job{{ jobs | pluralize }}:</h5>
                        {% for job in jobs %}
                            <div class="row">
                                <h6>
                                    <a href="{% url 'job_detail' job.id %}">
                                        {{ job.job_title }}
                                    </a>
                                </h6>
                                <div class="col-sm-12">
                                    {{ job.description | truncatechars:150 |striptags}}
                                    <div class="row">
                                        <div class="col-sm-4">Date:</div>
                                        <div class="col-sm-8">{{ job.post_date }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">Company:</div>
                                        <div class="col-sm-8">
                                            <a href="{{ job.company_url }}">
                                                {{ job.company_name }}
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <hr />
                        {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div id="menu3" class="tab-pane fade">
                <div class="col-md-12 page">
                    <h4>Courses</h4>
                    <br />
                    {% if courses.count == 0 %}
                        <h5>No courses available for {{ l_title }}</h5>
                    {% else %}
                        <h5>Found {{ courses.count }} course{{ courses | pluralize }}:</h5>
                        {% for course in courses %}
                            <div class="row">
                                <h6>
                                    <a href="{% url 'course_detail' course.course_id %}">
                                        {{ course.slug }}
                                    </a>
                                </h6>
                                <div class="row">
                                    <div class="col-sm-12">
                                        {{ course.description | truncatechars:150 |striptags}}
                                    </div>
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item">{% include 'wsil/detail-list.html' with key="Course Type" value=course.course_type %}</li>
                                </ul>
                            </div>
                            <hr />
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/plot-lang.js' %}">
    </script>
    <script src="{% static 'js/interst_by_region.js' %}">
    </script>
    <script>
        getPlot('{{ l_title }}', 'interestTimeScatter', 'scatter', "{% url 'iot_lang' language.id %}");
        plotRegion('{% url 'ibr_lang' language.id %}', "", "interestRegionLang")
    </script>
{% endblock %}